@media screen and (max-width: 480px){
    body{
        background-image:url("../../../images/grey.svg");
		background-repeat: no-repeat;
		background-size: cover
		background-attachment: fixed;
    }
    table thead{
    	display:none 
    }
    table tr{
		display:flex;
		flex-wrap:wrap;
    }
    header{
    	font-size:medium;
    }
}

