@media only screen and (min-width : 480px){

	#media-player{
		width:70%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		
	}
	#list_music{
		width :100%;
		height:40%;
		/*overflow: scroll;*/
		background-color:#73d216;
		
	}
	#recherche_id{
		width:100%;
	}
	#completion{
		width:80%;
		z-index:2;
	}
	select{
		width:100%;
		height:100%;
		color:#ffffff;
		background-color:#111111;
	}
	option{
		background-color:#303030;
		padding-top:1%;
		padding-bottom:1%;
		margin : 1%;
		border-style: none;
		border-width:1px;
		border-radius:10px;
	}
	#media_data{
		height:10%;
		width:100%;
		background-color:#000000;
		color:#ffffff;
		padding : 1px;
		overflow: hidden;
	}
	audio{
		width:100%;
	}
	#pochette{
		width: auto;
		height: 100%;
		float : right;
		margin-right : 1%;
	}
	h1{
		margin-left:10%;
	}
	.autocomplete {
		/*the container must be positioned relative:*/
		position: relative;
	}
	.autocomplete-items {
		position: absolute;
		border: 1px solid #d4d4d4;
		border-bottom: none;
		border-top: none;
		/*z-index: 99;*/
		/*position the autocomplete items to be the same width as the container:*/
		top: 100%;
		left: 0;
		right: 0;
	}

	.autocomplete-items div {
		padding: 10px;
		cursor: pointer;
		background-color: #fff; 
		border-bottom: 1px solid #d4d4d4; 
	}

	/*when hovering an item:*/
	.autocomplete-items div:hover {
		background-color: #e9e9e9;
	}
	#titre{
		font-weight: bold;
		width:50%;
	}
	#artist{
		font-weight: light;
		font-style: italic;
		width:50%;
	}
}
