	.filmListe{
		text-align:center;
	}
	td{
		width:20%;
	}
	.historique{
		text-align:center;
		padding-left:5%;
		width:89%;
		padding-right:5%;
		border-collapse: separate;
		border-spacing: 5px 8px;
	}
	
	#buttonHistorique{
		text-align: right;
	}
