html {
    height: 100%;
    margin: 0;
}


.jumbotron{
    background-color:#8cbd6a;
    
}
body {
    background-color:#eeeeec;
    height: 100%;
    position: relative;
    margin: 0;
}

main {
    min-height: 45%;
}

p {
    font-size: large;
    text-align: center;
    color: #000000;
}

a {
    color: black;
}

h1 {
    text-align: center;
    color: #000000;
}

form {
    text-align: center;
    color: #000000;
}

table {
    margin: auto;
    color: #000000;
    border-color:#4e9a06;

}



td, th {
    text-align: center;
    color: #000000;
}


.boutton {
    display: block;
    margin : auto;
}

footer {
    background-color:#8cbd6a;
    padding: 5%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

